<!doctype html>
<html>
<title>RSVP App!</title>
<body>
<form action="/new" method='POST'>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

Name: <input type="text" name="name">
<br>
<br> 
 Email: <input type="text" name="email">
<br>
<br>
<button type="Submit" onclick="alert('RSVP Succeeded!')" align="center" name="submit">Submit</button>
</form>

<h3> Visitor Count : {{counter}} </h3>
{% for item in items %}
<ul><li> {{ item.name }}  </li></ul>
{% endfor %}

</body>
</html>
